<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="MP3Media" packages="org.apache.logging.log4j.test">
  <Properties>
    <Property name="filename">mp3media-$${sd:type}.log</Property>
  </Properties>
  <ThresholdFilter level="debug"/>
 
  <Appenders>
    <Console name="STDOUT">
      <PatternLayout pattern="%m%n"/>
      <ThresholdFilter level="debug"/>
    </Console>
    <File name="File" fileName="${filename}">
      <PatternLayout pattern="%m%n"/>
      <ThresholdFilter level="debug"/>
    </File>
  </Appenders>
 
  <Loggers>
  </Loggers>
 
</Configuration>
